.email-ver-grid {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.ver-name-grid-item {
  grid-row: 1;
  grid-column: 1 / span 8;
}

.ver-submit-grid-item {
  grid-row: 3;
  grid-column: 1 / span 8;
}

.email-ver-1d-grid-item {
  grid-row: 2;
  grid-column: 1;
}

.email-ver-2d-grid-item {
  grid-row: 2;
  grid-column: 2;
}

.email-ver-3d-grid-item {
  grid-row: 2;
  grid-column: 3;
}

.email-ver-4d-grid-item {
  grid-row: 2;
  grid-column: 4;
}

.email-ver-5d-grid-item {
    grid-row: 2;
    grid-column: 5;
}

.email-ver-6d-grid-item {
    grid-row: 2;
    grid-column: 6;
}

.email-ver-7d-grid-item {
    grid-row: 2;
    grid-column: 7;
}

.email-ver-8d-grid-item {
    grid-row: 2;
    grid-column: 8;
}

.diget-wrapper {
    max-width: 90px;
}