.menu-container {
    top: 0;
    border-bottom: 2px solid #ffffffb0;
    background-color: #254785;
    position: sticky;
    z-index: 1000;
}

.menu-item {
    cursor: pointer;
    padding: 0 10px;
    display: inline-block;
    color: #fff;
    transition: color 100ms linear;
}

.menu-item:hover {
    color: #adc1e6;
}

.menu-item-icon {
    width: 18px;
    vertical-align: middle;
    color: inherit;
    transition: inherit;
}

.menu-item-text {
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    color: inherit;
    transition: inherit;
}

.float-right {
    float: right;
}