.input-password {
    width: calc(100% - 60px);
    padding: 0 30px;
}

.password-eye-icon {
    width: 24px;
    height: 24px;
    right: 15px;
    top: 50%;
    cursor: pointer;
    position: absolute;
}