.text-input {
    width: 100%;
    height: 50px;
  
    line-height: 15px;
    font-size: 15px;
    font-weight: bold;
    font-family: "DIN 2014 Rounded", Arial, sans-serif;
    text-align: center;
  
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.classic-red-color {
    color: #cd0505;
}

.classic-blue-color {
    color: #254785;
}

.no-margin {
    margin: 0 !important;
}

.no-weight {
    font-weight: normal !important;
}

.no-select {
    user-select: none !important;
}

.align-text-left {
    text-align: start !important;
}

.align-text-right {
    text-align: end !important;
}

.text {
    line-height: 15px;
    font-weight: bold;
    text-align: center;
    font-family: "DIN 2014 Rounded", Arial, sans-serif;
}

.larger {
    font-size: larger;
}

.x-large {
    line-height: 20px;
    font-size: x-large;
}

.xx-large {
    font-size: xx-large;
}