<script>
    null_form()
</script>
<div class="wrapper">
    <div class="shadow-block">
        <form action="" method="post">
            <div class="grid children-class-grid">
                <div class="grid-item grid-item-wrapper">
                    <svg 
                        width="50"
                        height="50"
                        stroke-width="2"
                        viewBox="0 0 24 24"
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon inline"
                        onclick="window.location.href = window.location.origin + '/children'"
                    >
                        <path d="M4.5 8C8.5 8 11 8 15 8C15 8 15 8 15 8C15 8 20 8 20 12.7059C20 18 15 18 15 18C11.5714 18 9.71429 18 6.28571 18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.5 11.5C6.13317 10.1332 5.36683 9.36683 4 8C5.36683 6.63317 6.13317 5.86683 7.5 4.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <p class="text x-large classic-red-color inline" style="width: initial;">
                        {{ variables.get("form") }} КЛАСС
                    </p>
                </div>
                <div class="grid-item grid-item-wrapper full-name-grid-item">
                    <input class="text-input" id="full-name-input" name="full-name" placeholder="ФИО ученика...">
                </div>
                <div class="grid-item grid-item-wrapper">
                    <input class="button text larger" type="submit" value="Добавить">
                </div>
                {% for child_id in variables["children"] %}
                    <div class="grid-item grid-item-wrapper child-grid-item">
                        <p class="text align-text-left larger no-weight inline">
                            {{ variables["children"][child_id] }}
                        </p>
                        <svg 
                            stroke-width="2"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon inline"
                            onclick="delete_child({{ child_id }})"
                        >
                            <path d="M3.03919 4.2939C3.01449 4.10866 3.0791 3.92338 3.23133 3.81499C3.9272 3.31953 6.3142 2 12 2C17.6858 2 20.0728 3.31952 20.7687 3.81499C20.9209 3.92338 20.9855 4.10866 20.9608 4.2939L19.2616 17.0378C19.0968 18.2744 18.3644 19.3632 17.2813 19.9821L16.9614 20.1649C13.8871 21.9217 10.1129 21.9217 7.03861 20.1649L6.71873 19.9821C5.6356 19.3632 4.90325 18.2744 4.73838 17.0378L3.03919 4.2939Z" stroke="currentColor" stroke-width="1.5"/>
                            <path d="M3 5C5.57143 7.66666 18.4286 7.66662 21 5" stroke="currentColor" stroke-width="1.5"/>
                            <path d="M11 18L14 14.5M14 14.5L19 17M14 14.5L20 11.5" stroke="currentColor" stroke-width="1.5"/>
                            <path d="M4.5 16L7.73595 15.5377C7.90405 15.5137 8.07446 15.562 8.20491 15.6708L11 18L14 21" stroke="currentColor" stroke-width="1.5"/>
                            <path d="M8 15.5L10.6149 12.4493C10.8284 12.2001 11.2025 12.1688 11.4546 12.3788L14 14.5" stroke="currentColor" stroke-width="1.5"/>
                        </svg>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>