<div class="wrapper">
    <div class="shadow-block">
        <div class="grid children-grid">
            <div class="grid-item grid-item-wrapper">
                <button class="button text x-large" onclick="window.location.href = window.location.origin + '/children/class?form=10А'">
                    10A класс
                </button>
            </div>
            <div class="grid-item grid-item-wrapper">
                <button class="button text x-large" onclick="window.location.href = window.location.origin + '/children/class?form=10Б'">
                    10Б класс
                </button>
            </div>
            <div class="grid-item grid-item-wrapper">
                <button class="button text x-large" onclick="window.location.href = window.location.origin + '/children/class?form=11А'">
                    11А класс
                </button>
            </div>
            <div class="grid-item grid-item-wrapper">
                <button class="button text x-large" onclick="window.location.href = window.location.origin + '/children/class?form=11Б'">
                    11Б класс
                </button>
            </div>
        </div>
    </div>
</div>