<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/adaptive.css') }}">

    <link rel="preload" href="{{ url_for('static', filename='styles/register.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/login.css') }}" as="style" onload="this.rel='stylesheet'">
</head>
<body>
    <div class="menu-container">
        <div class="menu-item" name="main-page-element">
            <svg 
                width="24" 
                height="24" 
                stroke-width="2" 
                viewBox="0 0 24 24" 
                fill="none" 
                xmlns="http://www.w3.org/2000/svg"
                class="menu-item-icon"
                name="main-page-element"
            >
                <path d="M17 21H7C4.79086 21 3 19.2091 3 17V10.7076C3 9.30887 3.73061 8.01175 4.92679 7.28679L9.92679 4.25649C11.2011 3.48421 12.7989 3.48421 14.0732 4.25649L19.0732 7.28679C20.2694 8.01175 21 9.30887 21 10.7076V17C21 19.2091 19.2091 21 17 21Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9 17H15" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text menu-item-text" name="main-page-element">
                Главная
            </p>
        </div>
        {%if variables["login"]%}
            <div class="menu-item float-to-right" name="logout-element">
                <svg 
                    width="24" 
                    height="24" 
                    stroke-width="2" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    class="menu-item-icon"
                    name="logout-element"
                >
                        <path d="M12 12H19M19 12L16 15M19 12L16 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="text menu-item-text" name="logout-element">
                    Выйти
                </p>
            </div>
        {%else%}
            <div class="menu-item float-to-right" name="login-element">
                <svg 
                    width="24" 
                    height="24" 
                    stroke-width="2" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    class="menu-item-icon"
                    name="login-element"
                >
                    <path d="M19 12H12M12 12L15 15M12 12L15 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="text menu-item-text" name="login-element">
                    Войти
                </p>
            </div>
            <div class="menu-item float-to-right" name="register-element">
                <svg 
                    width="24" 
                    height="24" 
                    stroke-width="2" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    class="menu-item-icon"
                    name="register-element"
                >
                    <path d="M19 12H12M12 12L15 15M12 12L15 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <p class="text menu-item-text" name="register-element">
                    Регистрация
                </p>
            </div>
        {%endif%}
    </div>
    {% with variables = variables %}
        {% include target_page %}
    {% endwith %}
    <script>
        function go_to_main_page() {
            window.location.href = window.location.origin + "{{ url_for('main_page') }}"
        }

        function go_to_register() {
            window.location.href = window.location.origin + "{{ url_for('register') }}"
        }

        function go_to_login() {
            window.location.href = window.location.origin + "{{ url_for('login') }}"
        }

        function add_on_click_for_name(name, func) {
            elements = document.getElementsByName(name)

            for (let i = 0; i < elements.length; i++) {
                elements[i].onclick = func
            }
        }

        add_on_click_for_name("main-page-element", go_to_main_page)
        add_on_click_for_name("register-element", go_to_register)
        add_on_click_for_name("login-element", go_to_login)
    </script>
</body>
</html>