<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperVision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/adaptive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/notifications.css') }}">
    <script src="{{ url_for('static', filename='js/fetch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crypto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/password.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/children_class.js') }}"></script>

    <link rel="preload" href="{{ url_for('static', filename='styles/loaders.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/text.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/password.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/register.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/login.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/email_verification.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="{{ url_for('static', filename='styles/children.css') }}" as="style" onload="this.rel='stylesheet'">
</head>
<body>
    <div class="menu-container">
        {% for menu_item in menu_items %}
            <div class="menu-item{{ '' if menu_item['align'] == 'left' else ' float-right' }}" id="{{ menu_item['id'] }}" onclick="{{ menu_item['action'] }}">
                <svg 
                    width="24" 
                    height="24" 
                    stroke-width="2" 
                    viewBox="0 0 24 24" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    class="menu-item-icon"
                >
                    {% for icon_line in menu_item['icon'] %}
                        <path {{ icon_line | safe}} />
                    {% endfor %}
                </svg>
                <p class="text menu-item-text">
                    {{ menu_item['name'] }}
                </p>
            </div>
        {% endfor %}
    </div>
    <div class="wrapper notification-wrapper" id="notification" onclick="document.getElementById('notification').classList.remove('show');clearTimeout(notification_timer)">
        <div class="notification">
            <p class="text">
            </p>
        </div>
    </div>
    {% with variables = variables %}
        {% include target_page %}
    {% endwith %}
</body>
</html>