<div class="wrapper">
    <div class="shadow-block">
        <form action="" method="get">
            <div class="grid email-ver-grid">
                <p class="grid-item text xx-large ver-name-grid-item">
                    Впишите код, который пришёл вам на почту
                </p>
                <div class="grid-item grid-item-wrapper email-ver-1d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="1" name="1">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-2d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="2" name="2">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-3d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="3" name="3">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-4d-grid-item" name="digit-input" >
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="4" name="4">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-5d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="5" name="5">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-6d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="6" name="6">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-7d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="7" name="7">
                </div>
                <div class="grid-item grid-item-wrapper email-ver-8d-grid-item" name="digit-input">
                    <input class="input-text diget-wrapper text xx-large" maxlength="1" id="8" name="8">
                </div>
                <div class="grid-item grid-item-wrapper ver-submit-grid-item">
                    <button class="button text x-large">Подтвердить регистрацию</button>
                </div>
                <input type="text" style="display: none;" value="{{ variables['email'] }}" name="email">
                <input type="text" style="display: none;" value="{{ variables['password'] }}" name="password">
                <script>
                    const inputs = document.querySelectorAll('.input-text')
            
                    for (let i = 0; i < inputs.length; i++) {
                        inputs[i].addEventListener('input', function(event) {
                            const currentInput = event.target
                            const index = parseInt(currentInput.id) - 1
            
                            if (currentInput.value.length >= currentInput.maxLength) {
                                if (index + 1 < inputs.length) {
                                    setTimeout(() => {
                                        inputs[index + 1].focus()
                                        inputs[index + 1].click()
                                    }, 50)
                                }
                            }
                        });
                    }

                    setTimeout(() => {
                        inputs[0].focus()
                        inputs[0].click()
                    }, 50)
                </script>
            </div>
        </form>
    </div>
</div>