<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SuperVision</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/menu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/adaptive.css') }}">
    </head>
    <body>
        <div class="wrapper">
            <div class="shadow-block" style="display: grid;">
                <p class="text x-large" style="text-align: center;">
                    Упс...
                </p>
                <p class="text x-large" style="text-align: center;">
                    {{ error_message }}
                </p>
                <div class="wrapper" style="max-width: 400px;height: 100px;">
                    <input class="input-text text input-submit" value="На главную" type="submit" onclick="window.location.href = window.origin">
                </div>
            </div>
        </div>
    </body>
</html>