<div class="wrapper">
    <div class="shadow-block">
        <div class="grid login-grid">
            <p class="grid-item text x-large">
                Добро пожаловать
            </p>
            <div class="grid-item grid-item-wrapper">
                <label class="text" for="email-input" type="email">
                    Почта
                </label>
                <input class="text-input" id="email-input" name="email" placeholder="Ваша почта...">
            </div>
            <div class="grid-item grid-item-wrapper">
                <label class="text" for="password-input">
                    Пароль
                </label>
                <input class="text-input password-input" id="password-input" name="password" placeholder="Ваш пароль от аккаунта..." type="password">
                <svg 
                    width="24" 
                    height="24" 
                    viewBox="0 0 24 24" 
                    stroke-width="2" 
                    fill="none" 
                    xmlns="http://www.w3.org/2000/svg"
                    class="password-eye-icon"
                    id="password-eye"
                    onclick="password_eye_click('password-input', 'password-eye')"
                >
                    <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="grid-item grid-item-wrapper">
                <button class="button text x-large" id="submit-login" onclick="check_login()">
                    Войти
                </button>
            </div>
        </div>
    </div>
</div>