<div class="wrapper">
    <div class="shadow-block register-block">
        <form action="register" method="POST">
            <div class="grid register-grid">
                <p class="grid-item text x-large register-text-grid-item">
                    Зарегистрируйтесь
                </p>
                <div class="grid-item wrapper register-input-wrapper register-email-grid-item">
                    <label class="text" for="email-input" type="email">
                        Почта
                    </label>
                    <input class="input-text" id="email-input" placeholder="Ваша почта...">
                </div>
                <script>
                    function password_eye_click(password_id, eye_id) {
                        password_input = document.getElementById(password_id)
                        password_eye = document.getElementById(eye_id)

                        if (password_input.type == "password") {
                            password_input.type = "text"
                            password_eye.innerHTML = `
                            <path d="M19.5 16L17.0248 12.6038" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 17.5V14" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.5 16L6.96895 12.6124" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3 8C6.6 16 17.4 16 21 8" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            `
                        } else {
                            password_input.type = "password"
                            password_eye.innerHTML = `
                            <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                            `
                        }
                    }
                </script>
                <div class="grid-item wrapper register-input-wrapper register-password-grid-item">
                    <label class="text" for="password-input">
                        Пароль
                    </label>
                    <input class="input-text password-input" id="password-input" placeholder="Придумайте пароль..." type="password">
                    <svg 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        stroke-width="2" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                        class="password-eye-icon"
                        id="password-eye"
                        onclick="password_eye_click('password-input', 'password-eye')"
                    >
                        <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid-item wrapper register-input-wrapper register-repassword-grid-item">
                    <label class="text" for="repassword-input">
                        Повторите пароль
                    </label>
                    <input class="input-text password-input" id="repassword-input" placeholder="Повторите пароль..." type="password">
                    <svg 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        stroke-width="2" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                        class="password-eye-icon"
                        id="repassword-eye"
                        onclick="password_eye_click('repassword-input', 'repassword-eye')"
                    >
                        <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid-item wrapper register-input-wrapper register-submit-grid-item">
                    <input class="input-text text input-submit" type="submit" value="Зарегистрироватся">
                </div>
            </div>
        </form>
    </div>
</div>