<div class="wrapper">
    <div class="shadow-block">
        <form action="email_verification" method="POST">
            <div class="grid register-grid">
                <p class="grid-item text x-large register-text-grid-item">
                    Зарегистрируйтесь
                </p>
                <div class="grid-item grid-item-wrapper register-email-grid-item">
                    <label class="text" for="email-input" type="email">
                        Почта
                    </label>
                    <input class="text-input" id="email-input" name="email" placeholder="Ваша почта...">
                </div>
                <div class="grid-item grid-item-wrapper register-password-grid-item">
                    <label class="text" for="password-input">
                        Пароль
                    </label>
                    <input class="password-input" id="password-input" name="password" placeholder="Придумайте пароль..." type="password">
                    <svg 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        stroke-width="2" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                        class="password-eye-icon"
                        id="password-eye"
                        onclick="password_eye_click('password-input', 'password-eye')"
                    >
                        <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid-item grid-item-wrapper register-repassword-grid-item">
                    <label class="text" for="repassword-input">
                        Повторите пароль
                    </label>
                    <input class="password-input" id="repassword-input" placeholder="Повторите пароль..." type="password">
                    <svg 
                        width="24" 
                        height="24" 
                        viewBox="0 0 24 24" 
                        stroke-width="2" 
                        fill="none" 
                        xmlns="http://www.w3.org/2000/svg"
                        class="password-eye-icon"
                        id="repassword-eye"
                        onclick="password_eye_click('repassword-input', 'repassword-eye')"
                    >
                        <path d="M3 13C6.6 5 17.4 5 21 13" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="grid-item grid-item-wrapper register-submit-grid-item">
                    <input class="button text x-large" type="submit" value="Зарегистрироватся">
                </div>
            </div>
        </form>
    </div>
</div>